.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 360px;
}

.u-section-1 .u-image-1 {
  width: 400px;
  height: 359px;
  margin: 1px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 305px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1609px;
}

.u-section-2 .u-list-1 {
  width: 766px;
  min-height: 492px;
  grid-template-rows: auto auto;
  height: auto;
  margin: 39px 0 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  grid-auto-rows: calc(50% - 5px);
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  width: 182px;
  height: 224px;
  margin: -1px auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: -140px 0 0 286px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 10px 0 0 238px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  width: 182px;
  height: 224px;
  margin: -1px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: -140px 0 0 289px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 10px 0 0 267px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  width: 182px;
  height: 224px;
  margin: -1px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: -140px 0 0 279px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 10px 0 0 268px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  width: 182px;
  height: 224px;
  margin: -1px auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: -140px 0 0 279px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 10px 0 0 264px;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  font-size: 5.3125rem;
  margin: -512px 1015px 0 25px;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  font-size: 5.3125rem;
  line-height: 1;
  font-weight: 700;
  margin: 0 943px 0 97px;
}

.u-section-2 .u-list-2 {
  width: 766px;
  min-height: 491px;
  grid-template-rows: auto auto;
  height: auto;
  margin: -498px 0 0 auto;
}

.u-section-2 .u-repeater-2 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  grid-auto-rows: calc(50% - 5px);
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-5 {
  width: 182px;
  height: 224px;
  margin: -1px auto 0 0;
}

.u-section-2 .u-text-11 {
  margin: -140px 0 0 286px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 10px 0 0 238px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-image-6 {
  width: 182px;
  height: 224px;
  margin: -1px auto 0 0;
}

.u-section-2 .u-text-13 {
  margin: -140px 0 0 289px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  margin: 10px 0 0 267px;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-image-7 {
  width: 182px;
  height: 224px;
  margin: -1px auto 0 0;
}

.u-section-2 .u-text-15 {
  margin: -140px 0 0 279px;
}

.u-section-2 .u-text-16 {
  font-weight: 700;
  margin: 10px 0 0 268px;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px;
}

.u-section-2 .u-image-8 {
  width: 182px;
  height: 224px;
  margin: -1px auto 0 0;
}

.u-section-2 .u-text-17 {
  margin: -140px 0 0 279px;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  margin: 10px 0 0 264px;
}

.u-section-2 .u-text-19 {
  text-transform: uppercase;
  font-size: 5.3125rem;
  line-height: 1;
  font-weight: 700;
  margin: 28px 1015px 0 25px;
}

.u-section-2 .u-list-3 {
  width: 766px;
  min-height: 492px;
  grid-template-rows: auto auto;
  height: auto;
  margin: -528px 0 60px auto;
}

.u-section-2 .u-repeater-3 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  grid-auto-rows: calc(50% - 5px);
}

.u-section-2 .u-container-layout-9 {
  padding: 10px;
}

.u-section-2 .u-image-9 {
  width: 182px;
  height: 224px;
  margin: -1px auto 0 0;
}

.u-section-2 .u-text-20 {
  margin: -140px 0 0 286px;
}

.u-section-2 .u-text-21 {
  font-weight: 700;
  margin: 10px 0 0 238px;
}

.u-section-2 .u-container-layout-10 {
  padding: 10px;
}

.u-section-2 .u-image-10 {
  width: 182px;
  height: 224px;
  margin: -1px auto 0 0;
}

.u-section-2 .u-text-22 {
  margin: -140px 0 0 289px;
}

.u-section-2 .u-text-23 {
  font-weight: 700;
  margin: 10px 0 0 267px;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px;
}

.u-section-2 .u-image-11 {
  width: 182px;
  height: 224px;
  margin: -1px auto 0 0;
}

.u-section-2 .u-text-24 {
  margin: -140px 0 0 279px;
}

.u-section-2 .u-text-25 {
  font-weight: 700;
  margin: 10px 0 0 268px;
}

.u-section-2 .u-container-layout-12 {
  padding: 10px;
}

.u-section-2 .u-image-12 {
  width: 182px;
  height: 224px;
  margin: -1px auto 0 0;
}

.u-section-2 .u-text-26 {
  margin: -140px 0 0 279px;
}

.u-section-2 .u-text-27 {
  font-weight: 700;
  margin: 10px 0 0 264px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    min-height: 526px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-image-3 {
    object-position: 50% 0%;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -503px;
    margin-right: 840px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 840px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-text-19 {
    margin-top: 159px;
    margin-right: 840px;
    margin-left: 0;
  }

  .u-section-2 .u-list-3 {
    margin-top: 181px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5678px;
  }

  .u-section-2 .u-list-1 {
    min-height: 979px;
    width: 450px;
    margin-top: 1257px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 7.5px);
  }

  .u-section-2 .u-text-1 {
    margin-left: 240px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 192px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 243px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 221px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 233px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 222px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 233px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 218px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -767px;
    margin-right: 620px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 620px;
  }

  .u-section-2 .u-list-2 {
    width: 720px;
    min-height: 1844px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 7.5px);
  }

  .u-section-2 .u-text-11 {
    margin-left: 240px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 192px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 243px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 221px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 233px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 222px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 233px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 218px;
  }

  .u-section-2 .u-text-19 {
    margin-top: -1194px;
    margin-right: 620px;
  }

  .u-section-2 .u-list-3 {
    width: 720px;
    min-height: 1850px;
    margin-top: 1534px;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 7.5px);
  }

  .u-section-2 .u-text-20 {
    margin-left: 240px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 192px;
  }

  .u-section-2 .u-text-22 {
    margin-left: 243px;
  }

  .u-section-2 .u-text-23 {
    margin-left: 221px;
  }

  .u-section-2 .u-text-24 {
    margin-left: 233px;
  }

  .u-section-2 .u-text-25 {
    margin-left: 222px;
  }

  .u-section-2 .u-text-26 {
    margin-left: 233px;
  }

  .u-section-2 .u-text-27 {
    margin-left: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4293px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1004px;
    margin-top: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 12px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 41px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 42px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 38px;
  }

  .u-section-2 .u-text-9 {
    font-size: 6rem;
    margin-top: -694px;
    margin-right: 440px;
  }

  .u-section-2 .u-text-10 {
    font-size: 3.75rem;
    margin-right: 440px;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
    min-height: 1383px;
    margin-top: -846px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-11 {
    margin-left: 60px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 12px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 63px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 41px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 53px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 42px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 53px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 38px;
  }

  .u-section-2 .u-text-19 {
    font-size: 3.75rem;
    margin-top: -517px;
    margin-right: 440px;
  }

  .u-section-2 .u-list-3 {
    width: 540px;
    min-height: 1388px;
    margin-top: 1073px;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-20 {
    margin-left: 60px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 12px;
  }

  .u-section-2 .u-text-22 {
    margin-left: 63px;
  }

  .u-section-2 .u-text-23 {
    margin-left: 41px;
  }

  .u-section-2 .u-text-24 {
    margin-left: 53px;
  }

  .u-section-2 .u-text-25 {
    margin-left: 42px;
  }

  .u-section-2 .u-text-26 {
    margin-left: 53px;
  }

  .u-section-2 .u-text-27 {
    margin-left: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2753px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1027px;
    width: 302px;
    margin-top: 19px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    font-size: 4.5rem;
    margin-top: -652px;
    margin-right: 240px;
    margin-left: -33px;
  }

  .u-section-2 .u-text-10 {
    font-size: 3rem;
    margin-right: 240px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
    min-height: 871px;
    margin-top: -918px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    font-size: 3rem;
    margin-top: 67px;
    margin-right: 240px;
  }

  .u-section-2 .u-list-3 {
    width: 340px;
    min-height: 874px;
    margin-top: 561px;
  }

  .u-section-2 .u-text-20 {
    margin-left: 0;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
  }

  .u-section-2 .u-text-22 {
    margin-left: 0;
  }

  .u-section-2 .u-text-23 {
    margin-left: 0;
  }

  .u-section-2 .u-text-24 {
    margin-left: 0;
  }

  .u-section-2 .u-text-25 {
    margin-left: 0;
  }

  .u-section-2 .u-text-26 {
    margin-left: 0;
  }

  .u-section-2 .u-text-27 {
    margin-left: 0;
  }
}